html,body,#home{
    height: 100%;
    overflow-x:hidden;
}
body{
    background: url(../imagens/back-index.png);
    font-family: helvetica,arial,sans-serif;
}

/**
Barra de Navegação
*****************************/

nav.navbar-transparente{
    padding: 15px 0;
    background:white;
    background: rgba(245,112,17,0.6);
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #1f1305;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(206, 194, 194, 0.1);
}
.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/*
Capa
********************************/
.custom-home1{
    color: rgb(245, 112,17) ;
}
.capa{
    text-align: center;
}
.btn-custom{
    color:black;
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    text-transform: uppercase;
    transition: background 0.4s,color 0.4s;
    padding: 10px 20px;
}
.btn-1{
    background: rgb(245, 112,17);
}
.btn-1:hover{
    background: #e26e39;
    color: white;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
.form-control {
    display: inline;
    width: 25%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(245, 112,17);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-custom {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: rgb(245, 112,17);
}
.btn-outline-custom:hover{
    background: rgb(245, 112,17);
}
/*
Serviços
************************/

.page-section {
    padding: 6rem 0;
    background: white;
}
.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: helvetica,arial,sans-serif;
    margin-bottom: 4rem;
}
.fa-custom{
    color: #e26e39;
}

/*
Area Monetiza vagabundo
**************************/

.page-restaurantes{
    padding: 6rem 0;
    background:rgb(246, 243, 243);
}

/*****Rodapé
***************************************/
footer{
    background:#000;
    padding:20px 0px 20px 0px;
    position: relative;
}
footer ul{
    list-style: none;
}
footer ul li{
    float: right;
    margin: 0 6px;
}

/*
animação
*************************/
li {
    margin-bottom: 10px;
}
.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 10px;
    background: rgb(245, 112,17);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
/*
efeitozoon
*************************/
.zoom{
    overflow: hidden;
}
.zoom{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zoom:hover{
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}




.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 30px;
   background-color: black;
   color: white;
   text-align: center;
}

.text-rodape{
    font-size: 15px;
}




.alinha-modal-title{
    margin-left: auto;
    margin-top: auto;
}